/target
archive/
config.yaml
docs/LICENSE.md
docs/Пояснения_LICENSE.txt
docs/Правки/
docs/правки 2/
docs/правки 3+аддс/
docs/правки 4/
docs/суть+маркетинг/

# локальная русская версия README (не пушится)
README_ru.md
